.chatcontainer {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chatheader {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.chatinput {
    display: flex;
    background-color: #f0f0f0;
    padding: 10px;
}

.input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
