.chatcontainer {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chatheader {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.chat-messages {
    padding: 10px;
    overflow-y: auto;
    max-height: 300px;
}

.message {
    background-color: #f0f0f0;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}

.message.sender {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
}

.message.sender::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #007bff;
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.message.receiver {
    background-color: #e5e5ea;
}

.message.receiver::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #e5e5ea;
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.chatinput {
    display: flex;
    background-color: #f0f0f0;
    padding: 10px;
}

.input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}